<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <!-- Encabezado de la barra lateral, donde esta el logo de la esquina superior derecha -->
    <mat-toolbar>
      <img class="logo" src="../../../assets/logo.png">
      
    </mat-toolbar>
     <!--lista del menú de la barra lateral izquierda -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/register']">Registro</a>
      <a mat-list-item [routerLink]="['/login']" >Iniciar Sesión</a>
      <a mat-list-item *ngIf="user$ | async as user" [routerLink]="['/profile']" >Mi perfil</a>
      <a mat-list-item *ngIf="user$ | async as user" [routerLink]="['/records']">Registros</a>
      <a mat-list-item [routerLink]="['/video']">Video</a>
      <a mat-list-item (click)="onLogout()" *ngIf="user$ | async as user">Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- header-->
    <mat-toolbar class="headerContent" >
      <div fxShow="true" fxHide.lt-md>
        <!-- Menú que va en el header -->
        <a [routerLink]="['/home']" mat-button><mat-icon>home</mat-icon>Inicio</a>
        <a [routerLink]="['/team']" mat-button><mat-icon>team</mat-icon>Equipo</a>
        <a [routerLink]="['/contact']"  mat-button>Contacto</a>
      
      </div>
    <!--icono que es visible cuando esta en modo responsive -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        
      </button> 
       <!-- logo que se pone solo cuando esta en responsive -->
      <img class="logo-sidenav" *ngIf="isHandset$ | async" src="../../../assets/logo.png">
      
       <!-- Menu derecho en modo responsive -->
      <button mat-button [matMenuTriggerFor]="menu" fxShow="true" fxHide.gt-sm><mat-icon>menu</mat-icon></button>
     <mat-menu #menu="matMenu">
       <button mat-menu-item [routerLink]="['/home']">Inicio</button>
       <button mat-menu-item [routerLink]="['/team']">Equipo</button>
       <button mat-menu-item [routerLink]="['/contact']" >Contacto</button>
    </mat-menu>
      
    </mat-toolbar>
    

    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
