.sidenav-container {
  height: 100%;
}

.logo{
  width: 70%;
  height: 80%;

}
.logo-sidenav{
  width: 55px; 
  height: 55px;
  display:block;
  margin:auto;
}


.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.mat-toolbar{
  background: linear-gradient(to bottom, #eb791c 0%, #ff4e36 100%);
}

mat-sidenav{
  background: linear-gradient(to bottom, #eb791c 0%, #ff4e36 100%);
}
.menu-spacer {
  flex: 1 1 auto;
}
.header{
  display:flex;
  justify-content:center;
}

  a{
    padding: 10px;
    text-decoration: none;
    color: black;
  }
