.sidenav-container {
  height: 100%;
}

//estilo del logo de la esquina superior izuierda
.logo{
  width: 70%;
  height: 80%;

}

//estilo del logo del modo responsive, centrado
.logo-sidenav{
  width: 55px; 
  height: 55px;
  display:block;
  margin:auto;
}

//estilo de la barra lateral izquierda
.sidenav {
  width: 200px;
}

//estilo para que la barra quede encima del header y footer
.sidenav .mat-toolbar {
  background: inherit;
}

//estilo del header
.mat-toolbar{
  background: linear-gradient(to bottom, #eb791c 0%, #ff4e36 100%);
}
//estilo de la barra lateral izquierda
mat-sidenav{
  background: linear-gradient(to bottom, #eb791c 0%, #ff4e36 100%);
}

//estilo del contenido del header
.headerContent{
  display:flex;
  justify-content:center;

  a{
    font-size: 20px;
  }
}


  a{
    padding: 10px;
    text-decoration: none;
    color: black;
  }
