    img{
        max-width: 200px;
        margin: auto auto auto;
        float:left
    }
    p{
        
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        
    }
   
   

