<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">

<mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
        <mat-card class="card-persona">
        <img mat-card-image src="../../../assets/ronal2.jpg">
        <mat-card-content>
          <p>Ronal Landazabal</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>Descripción ronal</mat-grid-tile>


    <mat-grid-tile>
        <img mat-card-image src="../../../assets/karen.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        Mi nombre es Karen Gómez, tengo 22 años, soy de Floridablanca, Santander. 
        Estoy próxima a graduarme de Ingeniería de sistemas de la 
        Universidad Autónoma de Bucaramanga. 
        Soy una persona dinámica, amable y responsable me gusta siempre sacar lo mejor de mí.
        Mi nombre es Karen Gómez, tengo 22 años, soy de Floridablanca, Santander. 
        Estoy próxima a graduarme de Ingeniería de sistemas de la 
        Universidad Autónoma de Bucaramanga. 
        Soy una persona dinámica, amable y responsable me gusta siempre sacar lo mejor de mí.
    </mat-grid-tile>
  </mat-grid-list>
  


 
</div>
</div>