<div class="content" >
  
  
    <mat-card class="example-card"> 
  
      <img mat-card-image src="../../../assets/ronal2.jpg" >
      <mat-card-content>
        <p>
          Soy Ronal Landazabal un ser creado por Dios, en busca de cumplir su propósito
          mientras viene a recogerme. Durante mi estadía en este mundo, procuró vivir
          íntegramente. Actualmente estoy terminando la carrera de ing.Sistemas,
          estoy radicado en la ciudad de Bucaramanga, Santander. Entre mis hobbies
          está pilotar drones de carreras, hacer deporte principalmente squahs,
          ver películas o series, charrear con temas de electrónica, bricolaje, DIY, entre otras cosas.
        </p>
      </mat-card-content>
      
    </mat-card>
   

  <mat-card class="example-card">
   
    <img mat-card-image src="../../../assets/karen.jpg" >
    <mat-card-content>
      <p>
        Mi nombre es Karen Gómez, tengo 22 años, soy de Floridablanca, Santander.
        Estoy próxima a graduarme de Ingeniería de sistemas de la
        Universidad Autónoma de Bucaramanga.
        Soy una persona dinámica, amable y responsable me gusta siempre sacar lo mejor de mí.
      </p>
    </mat-card-content>
    
  </mat-card>
 
</div>