
mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
    background-color: rgb(226, 225, 225);
  }
  
  mat-form-field {
    display: block;
    
  }
  mat-card-subtitle{
    color:navy;
    text-align: left;
  }

  input{
    
    display: block;
  }
  table{
    width: 100%;
    
  }






