

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
        <h2>Bienvenidos somos el equipo DC</h2>


        <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1">
                <mat-card class="card-persona">
                    <img mat-card-image src="../../../assets/ronal2.jpg">
                    <mat-card-content>
                      <p>Ronal Landazabal</p>
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1">
                
      <mat-card class="card-persona">
        <img mat-card-image src="../../../assets/karen.jpg">
        <mat-card-content>
           <p>Karen Gómez</p>
         </mat-card-content>
       </mat-card>
            </mat-grid-tile>
       </mat-grid-list> 
       <mat-card>
        <img class="card-unab" mat-card-image src="../../../assets/unab.jpg">
        <h3>Prácticas semestre II de 2020</h3>
       </mat-card>
    
      
    </div>
  </div>
  

   
 




    


