  h2{
text-align: center;
  }

 .content {
    padding: 16px;
    
}
.content > .card-persona {
    margin-bottom: 16px;
}

.card-persona{
    max-width: 200px;
    margin-bottom: 50px;
    float: left;
    margin-right: 30px;
    
}

.card-unab{
    width: 100px;
    height: 100px;
    align-content: center;
    
}
mat-card{
    align-content: center;
    
}

 
