
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
        <h2>Bienvenido somos el equipo DC</h2>
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z6512XKKNkU" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
  </div>







            
        