.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    
}
.videoWrapper iframe {
    position: absolute;
    padding: 16px;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    align-content: center;
}
.content{
    min-height: 100vh;
    width: 80%;
    margin: 10px auto;
}
