.content{
    padding: 16px;
    margin:0 auto;
    border: solid 1px  #eb791c;
      }



.button{
    text-align: center;
    width: 100%;
    background-color: orangered;
    margin: 0 auto;
    
}