
.content{
     
    background-color: #d3c60e;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.button{
    text-align: center;
    width: 100%;
    background-color: orangered;
    font-size: 20px;
   
    
}

.mensaje{
    width: 100%;
    font-size: 20px;
    text-align: center;
   // background-color: blue;
}




//para cambio de tamaño de pantalla

@media screen and (max-width: 847px){
   
    .foto{
        width: 80%;
    }
      
}

